@import "./variables";

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin mild-shadow {
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.1);
}

@mixin normalize {
  html,
  body {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    min-height: 100%;
    box-sizing: border-box;
    font-family: "Titillium Web", sans-serif;
    background-color: $white;
  }

  html {
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
      width: 5px;
      background: $white;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
      -webkit-border-radius: 10px;
      border-radius: 10px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      -webkit-border-radius: 10px;
      border-radius: 10px;
      background: rgba(0, 0, 0, 0.1);
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);

      &:window-inactive {
        background: rgba(0, 0, 0, 0.3);
      }
    }
  }

  a,
  li,
  p,
  h1,
  h2,
  h3,
  h4,
  h5 {
    color: $primary-color;
    margin: 0;
    line-height: 1;
  }

  #root {
    width: 100%;
    height: 100%;
    min-height: calc(100% - 50px);
  }

  ul,
  li {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  a {
    text-decoration: none;
  }
}
