@import "./variables";
@import "./mixins";

@include normalize();

.container {
  @include flex-center();
  flex-direction: column;
  width: 100%;
  min-height: calc(100% - 50px);
  height: fit-content;
  padding: 20px;
  padding-bottom: 50px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  height: 50px;
  margin: 0 50px;
  box-sizing: border-box;

  .logo {
    img {
      height: 20px;
      width: auto;
    }
  }

  ul {
    display: flex;
    flex-direction: row;

    li {
      margin: 0 10px;
      padding: 10px 15px;
      transition: 0.3s ease;
      cursor: pointer;
      font-weight: 600;

      &:hover {
        background-color: rgba($secondary-color-1, 0.2);
      }
    }
  }
}

section {
  // height: 100vh;
  // padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
}

.container section form {
  display: flex;
  flex-direction: column;
  align-items: center;

  input,
  textarea {
    box-sizing: inherit;
    margin-top: 20px;
    min-width: 300px;
    padding: 7px;
  }

  span {
    font-size: 0.8rem;
    color: red;
    align-self: flex-start;
    margin-top: 5px;
  }
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 200px;
  width: calc(250px + 4rem);
  background-color: white;
  padding: 2rem;
  padding-bottom: 2.5rem;
  border-radius: 1rem;
  overflow: hidden;
  @include mild-shadow();

  .title {
    font-size: 1.6rem;
    font-weight: $semibold;
  }

  .host {
    font-size: 1.2rem;
    font-weight: $regular;
    margin: 0.5rem 0;
    span {
      font-weight: $semibold;
    }
  }

  .goal {
    font-size: 1.2rem;
    font-weight: $regular;
    margin: 0.7rem 0;
    span {
      color: $secondary-color-2;
      font-weight: $semibold;
    }
  }

  .description {
    font-size: 1rem;
    font-weight: $regular;
    margin: 0.7rem 0;
    text-align: justify;
  }

  .donate {
    font-size: 1.4rem;
    font-weight: $semibold;
    background: $secondary-color-2;
    color: $white;
    padding: 0.4rem 0.8rem;
    width: fit-content;
    border-radius: 0.3rem;
    margin-top: 0.7rem;
  }

  .progress-bar,
  .progress {
    height: 1rem;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.1);
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .progress {
    background-color: $secondary-color-1;
    width: 0;
  }
}

.card-grid {
  height: calc(100% - 50px);
  width: inherit;
  display: grid;
  grid-template-columns: repeat(auto-fit, 20rem);
  // grid-auto-rows: minmax(200px, auto);
  grid-gap: 2rem;
  justify-content: center;
  justify-items: center;
}

.donate-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 70vh;
  width: calc(100% - 100px);
  background-color: white;
  padding: 2rem;
  border-radius: 1rem;
  @include mild-shadow();

  .left,
  .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .left {
    flex: 3;
    .title {
      font-size: 2.2rem;
      font-weight: $semibold;
    }
    .description {
      text-align: justify;
      font-size: 1.2rem;
      max-height: 50vh;
      overflow-y: scroll;
      padding-right: 7px;
      margin-bottom: 1rem;
      @include custom-scrollbar($scroll-bg-color: white);
    }

    .donators {
      span {
        color: $secondary-color-2;
      }
    }
  }

  .right {
    flex: 2;
    align-items: flex-end;

    .top {
      text-align: right;
      .host {
        font-size: 1.6rem;
        span {
          font-weight: $semibold;
        }
      }
      .recipient {
        font-size: 0.9rem;
      }
    }

    .bottom {
      form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .notes {
          font-size: 1.4rem;
          margin-bottom: 1rem;

          .goalAmount span,
          .minDonation span,
          .expiryDate span {
            font-weight: $semibold;
            color: $secondary-color-2;
          }
        }

        span {
          color: red;
        }

        input {
          padding: 0.5rem 1rem;
          border-radius: 0.5rem;
          margin-top: 1rem;
          font-size: 1.2rem;
          text-align: center;
          border: none;
        }

        .donationAmount {
          border: 2px solid $white;
          color: $secondary-color-1;
          font-weight: $semibold;

          &::placeholder {
            color: black;
            opacity: 0.4;
            font-weight: $regular;
          }

          &:focus {
            border: 2px solid $secondary-color-1;
          }

          &.active {
            border: 2px solid $secondary-color-1;
          }
        }

        .submit {
          font-size: 1.4rem;
          font-weight: $semibold;
          background: $secondary-color-2;
          color: $white;
          padding: 0.4rem 0.8rem;
          border-radius: 0.3rem;
          margin-top: 0.7rem;
          cursor: pointer;
        }
      }
    }
  }
}

.search-bar-container {
  display: flex;
  flex-direction: row;
  width: 50%;
  min-width: 350px;
  justify-content: space-between;
  background-color: white;
  padding: 2rem;
  border-radius: 1rem;

  &.active,
  &:hover,
  &:focus-within {
    @include mild-shadow();
  }

  .search-bar {
    width: 100%;
    border: none;
    font-size: 2rem;
    margin-right: 1rem;
  }
  .icon {
    font-size: 2rem;
    cursor: pointer;
  }
}

.txnCards {
  width: 80%;
  margin-top: 2rem;
  .txnCard {
    display: flex;
    flex-direction: column;
    min-width: 350px;
    justify-content: space-between;
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    margin: 1rem;
    border: 1px solid $secondary-color-1;

    p {
      font-size: 1.3rem;
      margin-bottom: 1rem;
      &:last-child {
        margin-bottom: 0;
      }
    }

    &:hover {
      @include mild-shadow();
    }
  }

  .error {
    display: flex;
    flex-direction: column;
    min-width: 350px;
    justify-content: space-between;
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    margin: 1rem;
    border: 1px solid $secondary-color-2;

    h1 {
      text-align: center;
      color: $secondary-color-2;
    }

    &:hover {
      @include mild-shadow();
    }
  }
}
